<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Lista de Vacinas</title>
</head>

<body>
    <h2>Vacinas Cadastradas no Sistema</h2>
    <a href="/cadastro-vacina.html">Cadastrar Nova Vacina</a>
    <hr>

    <table border="1" cellpadding="5">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Doses Normais</th>
                <th>Doses de Reforço</th>
            </tr>
        </thead>
        <tbody>
            <% vacinas.forEach(vacina=> { %>
                <tr>
                    <td>
                        <%= vacina.id %>
                    </td>
                    <td>
                        <%= vacina.nome %>
                    </td>
                    <td>
                        <%= vacina.quantidadeDosesNormal %>
                    </td>
                    <td>
                        <%= vacina.quantidadeDosesReforco %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</body>

</html>